.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 120px);
    width: 100%;
}

.image {
    height: 150px;
}

.description {
    composes: text text_type_main-default text_color_inactive from global;
}

.link {
    composes: text text_type_main-default from global;
}