.view {
    composes: flex_center from global;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: var(--content-width);
    height: calc(100vh - 120px);
}