.children {
    background-color: rgba(28, 28, 33, 1);
    border-radius: var(--common-border-radius-s);
    position: absolute;
    max-width: 70%;
}

.close_icon {
    composes: pt-15 from global;
    position: absolute;
    right: 40px;
}