:root {
    --panel-width: 610px;
    --panel-height: 200px;
    --panel-padding-outside: calc(var(--offset-base-size)  * 6);
    --panel-padding-inside: calc(var(--offset-base-size)  * 5);
    --content-width: calc((var(--panel-width) + var(--panel-padding-outside) + var(--panel-padding-inside)) * 2);
}

body {
    min-width: var(--content-width);
    overflow-y: hidden;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
